.item-list-container{
   background-color:var(--color-light-2);
   background-image: url('./../../assets/cool-background.png');
   min-height: 100vh;
   padding-bottom: 4rem;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: auto;
}