.item-detail-container{
    display: flex;
    flex-direction: row;
    margin : 2rem
}
.item-detail-image-container{
    margin-right:1.5rem;
    width: 50%;
    height: auto;
    
    
}

.item-detail-image{
    width: 100%;
    height: auto;
}

.item-detail-info-price{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #387355;
    font-size: 2.5rem;
}

.item-detail-info-count{
  margin-top: 3rem;
 
}

.btn-finish{
 margin-right:1rem;
 
}
.btn-continue{

}
