.cart-icon-container{
    position: relative;
    margin-top: 0.4rem;
}

.cart-icon{
    margin-left: 0.5rem;
    margin-bottom: 0.35rem;
    color:black;
    font-size: 1.4rem;
}

.cart-icon:hover{
    /* color :var(--color-medium-2) */
    color:#92619e;
}

.span-cart{

    position:absolute;
    left: 88%;
    bottom:40%;
    color:black;
    /* background-color: #9FEE00; */
    background-color: #d857cf;
    border-radius: 1.2rem;
    padding: 0.08rem 0.18rem 0.08rem 0.18rem;
    font-size: 0.7rem;
    font-weight: bold;
    
    
}

@media (min-width:320px) and (max-width:991.98px){
     .cart-icon-container{
        width: fit-content;
        
     }
        
}
