.cart-icon-container{
    position: relative;
}

.cart-icon{
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    color:black;
    font-size: 1.4rem;
}

.cart-icon:hover{
    color :var(--color-medium-2)
}

.span-cart{
    display: none;
    position:absolute;
    left: 88%;
    bottom:40%;
    color:black;
    background-color: #9FEE00;
    border-radius: 1.2rem;
    padding: 0.1rem 0.15rem 0.1rem 0.15rem;
    font-size: 0.7rem;
    font-weight: bold;
    
    
}

@media (min-width:320px) and (max-width:991.98px){
     .cart-icon-container{
        width: fit-content;
        
     }
        
}
