.product-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
    
}

.product-detail-count{
    display: flex;
    flex-direction: column;
}