

.loading{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    
    justify-content: center;
    
}

.loader {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 50%;
    padding: 1rem;
    animation:  rotate 1.25s 2, scale 1s 1 2.5s;

}

@keyframes scale {
    0% {
        width: 3rem;
        padding: 0.8rem;
        border-color: transparent;
    }
 
    50% {
        width:1.5rem;
        padding: 0.5rem;
        border-color: transparent;
        opacity: 0.5;

    }

    100% {
        width:0rem;
        padding: 0rem;
        border-color: transparent;
        opacity: 0.1;
    }
}

/*  */
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}