/* .item-detail-container{
    display: flex; 
    flex-direction: row;
    margin:0;
    padding: 2rem;
    background-color: var(--color-light-1);
    background-image: url('./../../assets/cool-background-1.png');
    min-height: 100vh ;
} */