body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
 
  display: flex;
  flex-direction: column;
  font-size: 1em;
 
  /* paleta de colores */
  --color-dark : #023641 ; 
  --color-medium-1: #276F77;
  --color-medium-2: #558F96;
  --color-light-1: #d8d8b9;
  --color-light-2 :#e9ecec;

  /* #023641 • #276F77 • #558F96 • #001118 • #A3BEBE */

  --color-dark-resalted:#001118;

  background-color: var(--color-light-2) !important;

  /* media queries sizes */
   /* Responsive down size (variables para puntos de corte hacia abajo ) */
  
  
  --media-breackpoint-down-xs : 413.98px ; 
  --media-breackpoint-down-sm : 573.98px ; 
  --media-breackpoint-down-md : 767.98px ; 
  --media-breackpoint-down-lg : 991.98px ; 
  --media-breackpoint-down-xl : 1199.98px ; 
  
  /* // Responsive up size (variables para puntos de corte hacia arriba ) */
  
  --media-breackpoint-up-xs : 320px ; 
  --media-breackpoint-up-sm : 576px ; 
  --media-breackpoint-up-md : 768px ; 
  --media-breackpoint-up-lg : 992px ; 
  --media-breackpoint-up-xl : 1200px ;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: Bodoni;
  src: url('./assets/fonts/BodoniXT.ttf');
}
@font-face {
  font-family: Bodonitown;
  src: url('./assets/fonts/Bodonitown.ttf');
  font-style: normal;
  font-weight:500;
}

@font-face {
  font-family: Numeros;
  src: url('./assets//fonts/04B_03__.TTF');
  font-style: normal;
  font-weight:500;
} */


/* @media (min-width:992px) and (max-width:1199.98px){
 
}
@media (min-width:768px) and (max-width:991.98px){
  
   
}
@media (min-width:576px) and (max-width:767.98px){
 
}
@media (min-width:320px) and (max-width:575.98px){
 
} */