.item-count{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: var(--color-medium-2);
    border-radius: 0.1rem;
    border-style:none;
    border-width: 0.05rem;
    padding: 1rem;
    color:black;  
    font-family: Bodonitown,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row-text-count{
    margin:1rem 1rem 1.5rem 1rem;
    font-weight:600;
    
}

.row-btn-count{
    display: flex;
    flex-direction: row;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}

.btn-count{
    width: 3rem;
    text-decoration: none ;
    color:black ;
    font-weight: 400;
    border-radius: 0.2rem ;
    border-color: var(--color-medium-2) ;
    background-color: var(--color-medium-1);
    border-width: 0.005rem; 
}
.btn-count:hover{
    background-color:var(--color-dark-resalted);

}

.row-btn-add{
    display: flex;
    width: 12rem;
    margin: 1rem 0rem 1rem 0;
}
.btn-add{
    width: 12rem;
    margin-top: 0.5rem;
    border-radius: 0 !important;
}



