.item-count{
    display:flex;
    flex-direction: column;
}

.row-btn-count{
    display: flex;
    flex-direction: row;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
}

.btn-count{
    width: 3rem;
}

.row-btn-add{
    display: flex;
    width: 12rem;
    margin: 1rem 0rem 1rem 0;
}
.btn-add{
    width: 12rem;
}



