.item-count{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: var(--color-light-2);
  
    border-radius: 0.4rem;
    border-style:none;
    border-width: 0.05rem;
    padding: 0.5rem;
    color: var(--color-dark);  
}

/* .row-text-count{
    margin:0.5rem ;
    font-weight:500;
    width: 10rem;
    
} */

.row-btn-count{
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.btn-count{
    width: 3rem;
    text-decoration: none ;
    color:black ;
    font-weight: 400;
    border-radius: 0.2rem ;
    border-color: var(--color-medium-2) ;
    background-color: var(--color-medium-1);
    border-width: 0.005rem; 
}
.btn-count:hover{
    background-color:var(--color-medium-2);

}

.row-btn-add{
    display: flex;
    width: 10rem;
    margin: 0.8rem 1rem 0.5rem 1rem;
   

}
.btn-add{
    width: 10rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem !important;
    /* padding: 0.5rem 1rem 0.5rem 1rem !important; */

}



